<!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ManipalPool</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
          <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <link rel="stylesheet" href="/resources/demos/style.css">
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img class="navbar-brand" src="https://i.ibb.co/JjyCc6Z/logo.png">
      </div>
    </nav>
    <div class="container my-5">
    <form name="myForm" class="row g-3" action="/" method="POST" onsubmit="return validateForm()">
    <div class="col-md-6">
        <b><label for="Name" class="form-label">Name</label></b>
      <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter your Name" required>
    </div>
    <div class="col-md-6">
        <b><label for="Phone_no" class="form-label">Phone No</label></b>
      <input type="number" class="form-control" name="Phone_no" id="Phone_no" placeholder="+91 xxxxxxxxxx" required>
    </div>
    <div class="col-md-6">
        <b><label for="email" class="form-label">Email address</label></b>
      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
    </div>
    <div class="col-md-2">
        <b><label for="A_date" class="form-label">Date Of Journey</label></b>
         <input type='text' class="form-control" name="A_date" id="A_date" placeholder="DD-MM-YYYY" required>
    </div>
    <div class="col-md-2">
        <b><label for="A_time" class="form-label">Time Of Journey</label></b>
      <input type="text"  class="form-control" name="A_time" id="A_time" placeholder="HH:MM AM/PM" required>
    </div>
    <div class="col-md-2">
        <b><label for="seat_avail" class="form-label">Seats Available</label></b>
          <select name="seat_avail" id="seat_avail" class="form-select" aria-label="Default select example" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-outline-dark"><b>Submit</b></button>
    </div>
</form>
    </div>
    <div class="container my-5">
      {% if allpost|length == 0 %}

          <div class="alert alert-dark" role="alert">
            No Posts found. Add your first Post now!
          </div>
      {% else %}
        {% for post in allpost %}
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
              <p class="card-text"><b>Name:</b> {{post.Name}}</p>
              <p class="card-text"><b>Email:</b> {{post.email}}</p>
              <p class="card-text"><b>Airport Name:</b> {{post.Airport_name}}</p>
              <p class="card-text"><b>Date:</b> {{post.A_date}}</p>
              <p class="card-text"><b>Time:</b> {{post.A_time}}</p>
              <p class="card-text"><b>Seat available:</b> {{post.seat_avail}}</p>
            <p class="card-text"><small class="text-muted">Post created on {{post.date_created}}</small></p>
            <a href="/request/{{post.sno}}" class="btn btn-outline-dark" tabindex="-1" role="button" aria-disabled="true"><b>Request</b></a>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <script>
        $( function() {
        $( "#A_date" ).datepicker({dateFormat:'dd-mm-yy'});
        } );
    </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    </body>
</html>
